# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# IDE
.idea/

# Build directories
/build/
build/

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio Code project files
.vscode/
# Eclipse project files
.cproject
.project
.settings/
# Xcode project files
*.xcodeproj/
*.xcworkspace/

# Logs
*.log

# SDL2 and SDL2_ttf binary files
*.bin

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
*.stackdump
/cmake-build-debug/
